1. establish a connection
2. create shortcut for mycursor
3. create a database
4. create a table with required columns in it
5. insert entries into the table
    i) use executemany
    ii) use placeholders
    iii) use commit, to modify a table
6. using WHERE
    i) use execute
    ii) use fetchall
    iii) use for/print command
7. UPDATE a table where entry
    i) use UPDATE <table> SET <new entry> WHERE <condition>
    ii) use commit()
8.

In [1]:
#establish a connection

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Asdf1234"
)

In [2]:
mycursor = mydb.cursor()

In [3]:
#Create a database

mycursor.execute("CREATE DATABASE testdb2")

In [28]:
#Create a table

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Asdf1234",
    database = "testdb2"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE studentssss (name VARCHAR(255), age INTEGER(10))")

In [34]:
#Insert multiple entries into a table

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Asdf1234",
    database = "testdb2"
)
mycursor = mydb.cursor()
sql = "INSERT INTO studentssss (name, age) VALUES (%s, %s)"
students = [("Fizza", 25),
           ("Haider", 22),
           ("Hassan", 23),
           ("Aaliya", 24),
           ]

mycursor.executemany(sql, students)

mydb.commit()

In [38]:
#Using WHERE

mycursor.execute("SELECT * FROM studentssss WHERE name LIKE 'f%'")

myresult = mycursor.fetchall()

for ab in myresult:
    print(ab)

('Fizza', 25)

In [41]:
#UPDATE an entry

mycursor.execute("UPDATE studentssss SET age=19 WHERE name LIKE 'f%' ")

mydb.commit()

mycursor.execute("SELECT * FROM studentssss")
myresult = mycursor.fetchall()
for ac in myresult:
    print(ac)

('Ahmed', 21)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Fizza', 19)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)

In [44]:
mycursor.execute("DROP TABLE studentss")
mydb.commit()

In [51]:
sql= "INSERT INTO studentssss (name, age) VALUES (%s, %s)"

students = [("Bilal", 25),
            ("Asim", 26),
            ("Annas", 27), ]

mycursor.executemany(sql, students)
mydb.commit()

In [52]:
mycursor.execute("SELECT * FROM studentssss")

myresult = mycursor.fetchall()

for ad in myresult:
    print(ad)

('Ahmed', 21)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Fizza', 19)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Bilal', 25)
('Asim', 26)
('Annas', 27)

In [56]:
sql = "INSERT INTO studentssss (name, age) VALUES (%s, %s)"

students = [("Umer", 28),
            ("Ali", 29),
            ("Hasan", 30),
            ("Muneeb", 31)
           ]

mycursor.executemany(sql, students)

mydb.commit()

In [57]:
mycursor.execute("SELECT * FROM studentssss")
myresult = mycursor.fetchall()
for ae in myresult:
    print(ae)

('Ahmed', 21)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Fizza', 19)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Bilal', 25)
('Asim', 26)
('Annas', 27)
('Umer', 28)
('Ali', 29)
('Hasan', 30)
('Muneeb', 31)

In [58]:
sql = "INSERT INTO studentssss (name, age) VALUES (%s, %s)"

students = [("Waqee",32),
           ("Ahsan",33)]

mycursor.executemany(sql, students)

mydb.commit()

mycursor.execute("SELECT * FROM studentssss")
myresult = mycursor.fetchall()
for af in myresult:
    print(af)

('Ahmed', 21)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Fizza', 19)
('Haider', 22)
('Hassan', 23)
('Aaliya', 24)
('Bilal', 25)
('Asim', 26)
('Annas', 27)
('Umer', 28)
('Ali', 29)
('Hasan', 30)
('Muneeb', 31)
('Waqee', 32)
('Ahsan', 33)

In [61]:
mycursor.execute("DELETE FROM studentssss WHERE name = 'Haider'")
mydb.commit()

In [62]:
mycursor.execute("DELETE FROM studentssss WHERE name = 'Hassan'")
mydb.commit()

In [63]:
mycursor.execute("SELECT * FROM studentssss")

myresult = mycursor.fetchall()
for ag in myresult:
    print(ag)

('Ahmed', 21)
('Aaliya', 24)
('Fizza', 19)
('Aaliya', 24)
('Bilal', 25)
('Asim', 26)
('Annas', 27)
('Umer', 28)
('Ali', 29)
('Hasan', 30)
('Muneeb', 31)
('Waqee', 32)
('Ahsan', 33)